/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Work+Sans:wght@400;700&display=swap');

/* body styles */
body{
    width: 1440px;
    /* border: 1px solid black; */
    margin:  0px 240px 0px 240px;
    font-family: 'Work Sans', sans-serif;
}
.primary{
    color: #FF900E;
}
.dark{
    color: #131313;
}
.dark3{
    color: #727272;
    line-height: 26px;
}
hr{
    border: 0px;
    margin: 0px;
}
/* Header style */
header{
    /* width: 1920px; */
    padding-top: 50px;
    height: 1322px;
    background-color: rgba(255, 144, 14, 0.1);;
    /* border: 5px solid black; */
}
.header-container-1{
    display: flex;
    justify-content: space-between;
}
.navigation-title h2{
    justify-content: right;
    font-size: 45px;
    margin: 0px;
}
.navigation{
    display: flex;
    justify-content: space-between;
    width: 30%;
}
.navigation div{
    font-size: 18px;
}
.header-container-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.header-info{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.header-info h1{
    font-size: 64px;
    padding:0px;
}
.header-info-title{
    width: 862px;
    /* height: 225px; */
}
.header-info-title p{
    line-height: 26px;
}
.button{
    width: 180px;
    height: 64px;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    font-size: 20px;
    border: none;
}
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
/* Heder style end */

.quick-list{
    display: flex;
    margin: 85px;
}
.quick-text2{
    color: #131313;
}
.quick-list-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 24px;
    border-radius: 8px;
}
.quick-list-info{
    padding: 200px 0px 200px 50px;
}
.quick-list-info h1{
    font-size: 45px;
}
.quick-list-info p{
    width: 540px;
    padding: 10px;
}
/* mid container styles */
.features-head div{
    display: flex;
}
.red-line{
    background-color: #FF900E;
    color: #FF900E;
    margin-top: 20px;
    margin-right: 20px;
    width: 5px;
    height: 90px;
}
.mid-container{
    display: flex;
}
.features{
    width: 100%;
}
.feature{
    padding: 30px;
}
.mid-container-ima{
    width: 100%;
}
.img-info{
    display: flex;
    flex-direction: column;
    align-items: center;   
    background-color: #FF900E;
    width: 258px;
    /* height: 109px; */
    color: #FFFFFF;
    border-radius: 8px;
    padding: 50px 20px;
    margin-top: -50px;
}
.img-info h1{
    font-size: 65px;
    margin: 0px;
}
.img-info p{
    font-size: 25px;
    margin: 0px;
}
.last-container-head h1{
    font-size: 45px;
    margin: 0px;
}
.last-container-head p{
    width: 542px;
}
.last-container-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
}
.content{
    width: 169px;
    height: 136.22px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 46px 36px 60px 36px;
}
.content h1{
    font-size: 45px;
    margin: 0px;
}
.content p{
    font-size: 20px;
    margin: 0px;
}

/* Footer styles */
.footer{
    display: flex;
    flex-direction: column;
    text-align: center; 
}
.footer-head{
    justify-content: center;
    /* width: 542px; */
    /* height: 129px; */
    text-align: center;
    margin-top: 180px;
}
.footer-content{
    display: flex;
    /* justify-content: calc(4,1fr); */
    justify-content: space-between;
    margin: 50px 0px 0px 0px;
}
.copyright{
    background-color: #FFF4E7;
    color: #424242;
    text-align: center;
    width: 1440px;
    height: 100px;
    margin-top: 130px;
    margin-bottom: 216px;
}

/*-------------------
      hover        
--------------------- */
.content:hover img{
    transform: scale(2) rotate(-75deg);
    /* transform: rotate(-750deg); */   
}
/*---------------------
     mobile screen
------------------------ */
@media only screen and (max-width:688px) {
    body{
        width: 688px;
        margin:  0px 100px 0px 100px;
        /* border: 1px solid black; */
    }
    .banner{
        width: 100%;
    }
    .header{
        width: 688px;        
    }
    .quick-list{
        flex-direction: column-reverse;
    }
    .quick-list-img{
        grid-template-columns: repeat(1,1fr);
    }
    .mid-container{
        flex-direction: column-reverse;
    }
    .last-container-content {
        flex-direction: column;
    }
}