/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Work+Sans:wght@400;700&display=swap');

/* body styles */
.primary{
    color: #FF900E;
}
.dark{
    color: #131313;
}
.dark3{
    color: #727272;
    line-height: 26px;
}
hr{
    border: 0px;
    margin: 0px;
}
body{
    font-family: 'Work Sans', sans-serif;
}
/* Header style */
header{
    width: 1920px;
    height: 1322px;
    background-color: rgba(255, 144, 14, 0.1);;
    border: 5px solid black;
}
.header{
    margin: 50px 240px;
}
.header-container-1{
    display: flex;
    justify-content: space-between;
}
.navigation-title h2{
    font-size: 45px;
    margin: 0px;
}
.navigation{
    display: flex;
    justify-content: space-between;
}
.header-container-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.header-info{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.header-info h1{
    font-size: 64px;
    padding:0px;
}
.header-info-title{
    width: 862px;
    /* height: 225px; */
}
.header-info-title p{
    line-height: 26px;
}
.button{
    width: 180px;
    height: 64px;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    font-size: 20px;
    border: none;
}
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
/* Heder style end */

.quick-list{
    display: flex;
    margin: 85px 300px 130px 300px;
}
.quick-text2{
    color: #131313;
}
.quick-list-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 24px;
    border-radius: 8px;
}
.quick-list-info{
    padding: 200px 0px 200px 50px;
}
.quick-list-info h1{
    font-size: 45px;
}
.quick-list-info p{
    width: 540px;
    padding: 10px;
}
/* mid container styles */
.mid-container{
    display: flex;
    margin: 130px 240px;
    gap: 54px;
}
.features{
    width: 585px;
}
.feature{
    padding: 30px;
}
.mid-container-ima{
    width: 800px;
}
.img-info{
    display: flex;
    flex-direction: column;
    align-items: center;   
    background-color: #FF900E;
    width: 258px;
    /* height: 109px; */
    color: #FFFFFF;
    border-radius: 8px;
    padding: 50px 20px;
    margin-top: -50px;
}
.img-info h1{
    font-size: 65px;
    margin: 0px;
}
.img-info p{
    font-size: 25px;
    margin: 0px;
}
.last-container-head{
    /* margin-top: 130px; */
    margin-left: 240px;
}
.last-container-head h1{
    font-size: 45px;
    margin: 0px;
}
.last-container-head p{
    width: 542px;
}
.last-container-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 300px 180px 300px;
}
.content{
    width: 241.83px;
    height: 241.83px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 40px;
}
.content h1{
    font-size: 45px;
}
.content p{
    font-size: 20px;
}
.
/* Footer styles */
footer{
    display: flex;
    flex-direction: column;
    text-align: center; 
}
.footer-head{
    justify-content: center;
    /* width: 542px; */
    /* height: 129px; */
    text-align: center;
    margin-top: 180px;
}
.footer-content{
    display: flex;
    /* justify-content: calc(4,1fr); */
    justify-content: space-between;
    margin: 50px 290px 0px 290px;
}

.copyright{
    text-align: center;
    margin-top: 130px;
    margin-bottom: 216px;
}